.editContent {
    width: 640px;
    height: calc(100vh - 80px - 71px);
    margin: 0 auto;
    overflow-y: scroll;
}

.subject {
    width: 100%;
    font-size: 2rem;
}

.editor {
    margin-top: 1.5rem;
    font-size: 1rem;
}

.submitButton {
    margin-top: 1.5rem;
}

.footer {
    width: 640px;
    height: 55px;
    margin: 0.5rem auto;
}
